<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header> <%-include('./navBar.ejs')%></header>
  <body>  <h1></h1>
    <div style="margin-top: 10%" class="content">
    <ul class="flex">
        <li>
                  <a href="/categories/women">WOMEN</a>
                  
              
        </li>
        <li>
           
                  <a href="/categories/men">MEN</a>
            
        </li>

    </ul>
    </div>

    </body>

  <footer id="footer">
    OSF Digital, August 2022
  </footer>
</html>
