<!DOCTYPE html>
<html>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<div id="header">
   
	<nav class="links" style="--items: 5;">
       <a  href="/"><%= title%></a>
        <a href="/categories/men" class="underline">Men</a>
        <a href="/categories/women" class="underline">Women</a>
       
        <!-- <a href="/auth/signin" class="underline">Sign In</a>
        <a href="/auth/signup" class="underline">Sign Up</a> -->
		<span class="line"></span>
	</nav>
</div>
</html>