html { min-height: max-content;}

body {
	background-color: rgb(226, 226, 226);
	background-image: linear-gradient(to bottom, rgba(224, 231, 253, 0.6), transparent);
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	display: flex;
    flex-direction: column;
	margin: 0;
	grid-template-rows: auto 1fr auto;

}

#container {
	display: grid;
    grid-template-rows: auto;
}

li {
	list-style-type:none;
    border: 3em;
    border-color: #787878;
	padding: 1em;
	margin-bottom: 1em;

}

h1 {
	text-decoration: none;
	font-size: 2em;
	color: #c9afff;
}


a {
  color: #787878;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color:rgb(82, 82, 82)


}

#header {
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 8em;
	position: absolute;
}


.links {
	background-color: #fff;
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	width: 100%;
	font-weight: 300;
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: absolute;
}
.links > a {
	color: rgb(141, 141, 141);
	padding: .75em;
	text-align: center;
	text-decoration: none;
  transition: 0.3s;
}

.links > :hover {
	color: rgb(195, 183, 255);
	}

.topNav {
	background-color: #fff;
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
	position: absolute;
	height: 5em;
	width: 100%;
}

.title-container {
	width: 3em;
	margin-left: 10%;
	justify-content: left;
}

.underline{
  position: relative;
  font-size: 1.2em;
  color: #eee;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #c9afff;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}


@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}


#footer {
		background: rgb(0, 0, 0);
		font-size: 1.5em;
		text-align: center;
		padding-top: 3em;
		height: 5em;
		width: 100%;
}

.content {
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	color: #666;
	font-size: 1.6em;
	margin: 20px auto;
	padding: 20px;
	width: 100%;
	max-width: 90%;
	margin-top: 8%;
	flex-grow: 1;
	min-height: calc(100vh - 40px);
}
.content ul {
	margin: 2.5em 2em;
	padding: 0;
}

div {
    display: block;
}

.topnav {
	width: 100%;
	position: absolute;
	background-color: Black;
	font-family: Arial, sans-serif;
	font-size: 15px;
	height: 5em;
 }

 .navcontainer{
    display: flex;
    flex-direction: column;
}

 .nav-link {
	display: inline-block;
	width: 80px;
	height: 55px;
	color: White;
	text-align: center;    /* horizontally */
	line-height: 55px;     /* vertically */
	text-decoration: none;
 }

 #logo {
	width: 15%;
	color: #c9afff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:2em;
 }

 #about {
	margin-left: 2em;
}

input{
	background-color: white;
	border: 1px solid black;
	margin-left: 10%;
	margin-right: 1%;
	width: 20%;
	color: #111;
	font-size: 15px;
	height: 2em;    
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }


.navbar {
  display: flex;
  box-shadow: 0 0 2px 0 grey;
  align-items: center;
  font-size: 2em;
  background-color:#a2a2a2;
  background-color: var(--theme-bg-color);
  
  color: white;
  color: var(--theme-color);
  

}


/* AUTH STARTS HERE */